
<div *ngIf="film" class="search">

  
 <div class="col-sm-4" id="tabela"> 
     <table class="table table-hover table-inverse"  style="background-color: #303030;">
    <thead>
      <tr>
       <h2  style="color: #e6b800;">{{film.name}}</h2>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="color: #e6b800;">Id</td>
        <td  style="color: #e6b800;">{{film.id}}</td>
      </tr>
      <tr>
        <td style="color: #e6b800;">Tytul: </td>
        <td  style="color: #e6b800;">{{film.name}}</td>
        
      </tr>
      <tr>
        <td style="color: #e6b800;">Kategoria: </td>
        <td  style="color: #e6b800;">{{film.category}}</td>
      </tr>
       <tr>
        <td style="color: #e6b800;">Reżyser: </td>
        <td  style="color: #e6b800;">{{film.director}}</td>
      </tr>
       <tr>
        <td style="color: #e6b800;">Rok: </td>
        <td  style="color: #e6b800;">{{film.year}}</td>
      </tr>
      <tr>
        <td style="color: #e6b800;">Dostępnośc: </td>
        <td  style="color: #e6b800;" *ngIf="film.status">dostępny</td>
        <td  style="color: #e6b800;" *ngIf="!film.status">film wypożyczony</td>
      </tr>
    </tbody>
  </table>


   <button class="button" *ngIf="film.status" (click)="lendFalse(film);">Wypozycz film</button>





  <!-- Trigger the modal with a button -->
  <button class="button" *ngIf="!film.status" type="submit" (click)="lendTrue(film);" data-toggle="modal" data-target="#myModal10">Oddaj film</button>

  <!-- Modal -->
  <div id="myModal10" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Naliczanie opłaty</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <form>
            <return></return>
          </form>
          <div class="modal-footer">

         
            <button  type="submit" data-dismiss="modal">zamknij</button>
          </div>
        </div>

      </div>
    </div>



  </div>

  <button class="button" routerLink="/rent" >Powrót</button>
   </div>

</div>

