<div *ngIf="film">
  <div><img id="cover" src="./photo/{{film.image}}" style="width: 33%; height: 33%;" align="right" alt="Brak zdjęcia" /></div>
  <h2>{{film.name}} </h2>
  <div><label>id: </label>{{film.id}}</div>
  <div><label>Tytul: </label>{{film.name}} </div>
  <div><label>Kategoria: </label>{{film.category}} </div>
  <div><label>Reżyser: </label>{{film.director}} </div>
  <div><label>Rok:  </label>{{film.year}} </div>
  <div *ngIf="film.status"><label>Dostępność:  </label>dostępny</div>
  <div *ngIf="!film.status"><label>Dostępność:  </label>film wypożyczony</div>




  <button *ngIf="film.status" type="submit" (click)="lendFalse(film);" data-dismiss="modal">Wypozycz film</button>





  <!-- Trigger the modal with a button -->
  <button *ngIf="!film.status" type="submit" (click)="lendTrue(film);" data-toggle="modal" data-target="#myModal9">Oddaj film</button>

  <!-- Modal -->
  <div id="myModal9" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Naliczanie opłaty</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <form>
            <return></return>
          </form>
          <div class="modal-footer">

         
            <button type="submit" data-dismiss="modal">zamknij</button>
          </div>
        </div>

      </div>
    </div>



  </div>