.search-result{
  border-bottom: 1px solid gray;
  
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 30px;

  background-color: white;
  cursor: pointer;
  margin-left: 25px;
}
.search-result:hover {
  color: #eee;
  background-color: #607D8B;
    height: 30px;
    margin-left: 15px;
}
#search-box{
  margin-left: 3px;
  width: 250px;
  height: 30px;
}
